.border {
    border-width: 8px;
}
.navbar {
    background-color: rgba(47, 89, 152, 1);
    color: white;
    font-size:x-large;
}
.logo {
    height: 85px;
    width: 105px;
}
body {
    background-color: white;
}
.placeholder {
    text-align: center;
}
h6 {
    background-color: white;

}
.center {
    display: flex;
    justify-content: center;
}
.paragraph {
    height: 90px;
    width:550px;
}
.image {
    align-content: flex-end;
}
.align {
    display: flex;
    justify-content: right;
}
.box {
    width: 100px;
}

.placeholder {
    background: red;
}

.dropdown-toggle {
    color: white;
    font-size: medium;
}
footer {
    background-color: rgb(17, 197, 197); 
    bottom: 0; width: 100%; 
    height: 40px;
    background : #6cf; }

.footerlogo {
    height: 95px;
    width: 139px;
}
.bi-twitter {
    color: black;
}
.bi-instagram {
    color:black;
}
.bi-facebook {
    color:black;
}