.border {
    border-width: 8px;
}
.navbar {
    background-color:rgba(47, 89, 152, 1);
}
.logo {
    height: 75px;
    width: 85px;
}
body {
    background-color: #9b0621;
}
.placeholder {
    text-align: center;
}
h6 {
    background-color: white;
}
.center {
    display: flex;
    justify-content: center;
}
.paragraph {
    height: 90px;
    width:550px;
}
.image {
    align-content: flex-end;
}
.align {
    display: flex;
    justify-content: right;
}

